# Python virtual environments
venv/
dbt_venv/

# Python cache
__pycache__/
*.pyc

# dbt artifacts
target/
dbt_packages/
logs/

# Environment variables
.env

# OS / editor
.DS_Store
.vscode/

# Data files (opcional - depende se queres mostrar ou não)
# data/*.csv